@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  box-sizing: border-box;
  font-family:"Rubik" ,sans-serif;
}
html{
  background: rgb(9,15,59);
  background: -moz-linear-gradient(128deg, rgba(9,15,59,1) 30%, rgba(9,15,59,1) 47%, rgba(9,15,59,1) 49%, rgba(40,16,71,1) 52%, rgba(72,13,115,1) 56%, rgba(60,2,102,1) 60%, rgba(83,26,125,1) 65%, rgba(68,29,92,1) 69%, rgba(101,33,140,1) 75%, rgba(99,27,140,1) 77%, rgba(72,30,94,1) 79%, rgba(69,20,99,1) 81%, rgba(85,32,112,1) 84%, rgba(59,27,87,1) 86%, rgba(9,15,59,1) 87%, rgba(9,15,59,1) 99%, rgba(9,15,59,1) 100%);
  background: -webkit-linear-gradient(128deg, rgba(9,15,59,1) 30%, rgba(9,15,59,1) 47%, rgba(9,15,59,1) 49%, rgba(40,16,71,1) 52%, rgba(72,13,115,1) 56%, rgba(60,2,102,1) 60%, rgba(83,26,125,1) 65%, rgba(68,29,92,1) 69%, rgba(101,33,140,1) 75%, rgba(99,27,140,1) 77%, rgba(72,30,94,1) 79%, rgba(69,20,99,1) 81%, rgba(85,32,112,1) 84%, rgba(59,27,87,1) 86%, rgba(9,15,59,1) 87%, rgba(9,15,59,1) 99%, rgba(9,15,59,1) 100%);
  background: linear-gradient(128deg, rgba(9,15,59,1) 30%, rgba(9,15,59,1) 47%, rgba(9,15,59,1) 49%, rgba(40,16,71,1) 52%, rgba(72,13,115,1) 56%, rgba(60,2,102,1) 60%, rgba(83,26,125,1) 65%, rgba(68,29,92,1) 69%, rgba(101,33,140,1) 75%, rgba(99,27,140,1) 77%, rgba(72,30,94,1) 79%, rgba(69,20,99,1) 81%, rgba(85,32,112,1) 84%, rgba(59,27,87,1) 86%, rgba(9,15,59,1) 87%, rgba(9,15,59,1) 99%, rgba(9,15,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090f3b",endColorstr="#090f3b",GradientType=1);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
main{
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
header {
    float: left;
}
header img{
    height: 2rem;
    width: 8rem;
    margin-top: 3em;
    margin-left: 22em;
}
h1{
    margin-top: 6em;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}
p{
    text-align: center; 
    font-size: 1.4em;
    margin-top: 3em;
}

.star-rating {
  padding-left: 2em;
  margin-top: 1em;
}
  .feedback-container label {
    display: block;
    margin-bottom: 5px; 
  }
  
  .feedback-input {
    color: white;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #D20094 ; 
    width: 100%; 
    padding: 5px 0; 
    background-color: transparent;
    outline: none;
  }
  .star-rating {
    display: inline-block;
  }

  .star {
    width: 60px; 
    cursor: pointer; 
    filter: brightness(0%);
    margin:2px
  }
  .star:hover{
    filter: brightness(50%)
  }
  
  .star.active {
    filter: none; 
  }

 #moreInfo { margin-left: 15em;
             margin-top: 3em;
             padding: 0.5em;
             
             padding: 1em 2em 1em 2em;
             background-color: #00FFFF;
             border:none;
             box-shadow: 0px 0px 20px #00FFFF;
             font-size: larger;
             font-weight: bold;
             cursor: pointer;
   
   
 } 