/****************formattazione generale**********************/
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

/*******************************formattazione testo***************************/


body{
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}
img{
    height: 2rem;
    width: 8rem;
    margin-top: 1.8em;
    margin-left: 10em;
}
.btn:hover{
    background-color: transparent;
    color: white;
}
.btn{
    padding: 2em;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border-radius: 8em 8em 8em ;
    
}
