/****************formattazione generale**********************/
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

/*******************************formattazione testo***************************/


body{
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: white;
}
header img{
    height: 2rem;
    width: 8rem;
    margin-top: 1.8em;
    margin-left: 33em;
}
#app{
    width: 90%;
    margin: auto 5%;
    align-items: center;
}
.btn:hover{
    background-color: transparent;
    color: white;
}
.btn{
    padding: 2em;
    font-size: 16px;
    background-color: rgb(211, 211, 211, 0.2);
    color: white;
    border-radius: 8em 8em 8em ;
    margin: 15px;
    width: 28em;
}

#risposte{
    width: 70em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#next-btn{
    float: right;
    width: 15em;
    height: 3.5em;
    background: none;
    color: rgb(255, 255, 255, 0.7);
    border: 1px solid rgb(255, 255, 255, 0.7);
    margin: 20px 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 0;
}

#next-btn code {font-size: 19px;
                font-weight: bold;
}

#next-btn:hover{
    background-color: blueviolet;
}
